main {
  margin: 50px 25px;
  padding: 50px 25px;
  line-height: 200%;
  border: 1px solid rgba(226, 220, 200, 0.4);
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 700px;
}

input {
  background-color: #5a8f7b;
  color: rgb(226, 220, 200);
  border: 1px solid rgba(226, 220, 200, 0.4);
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

input.blank {
  animation: up-down 0.4s;
}

@keyframes up-down {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

input.Fail {
  animation: shake 0.5s;
  transition: all 1s;
  background-color: #fad9a1;
  color: rgb(99, 91, 91);
}

input.success {
  transition: all 1s;
  background-color: #d9f8c4;
  color: rgb(99, 91, 91);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.long {
  width: 140px;
}

.big {
  height: 20px;
  font-size: 18px;
}

input:focus-within {
  background-color: rgba(226, 220, 200, 0.8);
  color: #0f3d3e;
}

.small-title {
  font-size: 24px;
}

.lines {
  margin-left: 20px;
}

button {
  margin-top: 30px;
  width: 80px;
  height: 40px;
  background-color: #5a8f7b;
  color: rgb(226, 220, 200);
  border: 1px solid rgba(226, 220, 200, 0.4);
  border-radius: 5px;
}

#quiz-form {
  margin-left: 30px;
}
