.nav {
  background-color: rgb(15, 61, 62);
  padding: 20px 50px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__btn {
  margin: 0px 20px;
}
